<label class="text-textTertiary font-normal mb-1.5 block">{{ label() }}</label>

<div class="relative">
    <input 
    [type]="inputType()" 
    [placeholder]="placeholder()"
    [value]="value()"
    [disabled]="disabled()"
    (input)="updateValue($event)"
    (blur)="onTouched()"
        class="w-full bg-surface-container placeholder:text-light-gray text-textTertiary font-normal py-3.5 px-3 focus:outline-0 rounded-lg"
        [class.pe-11]="type() === 'password'" />

    @if (type() === 'password') {
    <button type="button" (click)="toggle()" [attr.aria-label]="visible() ? 'Hide password' : 'Show password'"
        class="absolute inset-y-0 inset-e-3 flex items-center text-textTertiary">
        @if (visible()) {
        <svg icon="hidePassword" class="size-5 text-textSecondary"></svg>
        } @else {
        <svg icon="showPassword" class="size-6 text-textSecondary"></svg>
        }
    </button>
    }
    @if(errorMessage()){
    <div class="flex gap-1 items-center pt-1">
        <svg icon="required" class="text-error size-3"></svg>
        <small class="text-error">{{errorMessage()}}</small>
    </div>
    }
</div>